#contact {
  background-image: url(../assets/Background_Contacts.png);
  background-size: cover;
  padding-top: 128px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;

  span {
    color: var(--purple);
  }

  p {
    font: var(--text-md);
    color: var(--gray-200);
  }
}

#social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-button {
  display: flex;
  justify-content: space-between;
  width: 400px;
  text-decoration: none;
  align-items: center;
  padding: 20px;
  background-color: var(--gray-400);
  border-radius: 8px;

  outline: 1.5px solid var(--gray-400);
  transition: 0.3s;

  &:hover {
    outline: 1.5px solid var(--blue);

    #icon-linkedin {
      background-image: url(../assets/icons/LinkedinLogo-hover.svg);
    }

    #icon-instagram {
      background-image: url(../assets/icons/InstagramLogo-hover.svg);
    }

    #icon-github {
      background-image: url(../assets/icons/GithubLogo-hover.svg);
    }

    #icon-mail {
      background-image: url(../assets/icons/EnvelopeSimple-hover.svg);
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;

  p {
    font: var(--text-contact) !important;
  }
}

#icon-linkedin {
  background-image: url(../assets/icons/LinkedinLogo.svg);
  width: 28px;
  height: 28px;
}

#icon-instagram {
  background-image: url(../assets/icons/InstagramLogo.svg);
  width: 28px;
  height: 28px;
}

#icon-github {
  background-image: url(../assets/icons/GithubLogo.svg);
  width: 28px;
  height: 28px;
}

#icon-mail {
  background-image: url(../assets/icons/EnvelopeSimple.svg);
  width: 28px;
  height: 28px;
}
