* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  --font-title: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-title);
  --title-md: 700 24px/120% var(--font-title);
  --title-sm: 700 16px/120% var(--font-title);

  --font-subtitle: "Inconsolata", sans-serif;
  --subtitle: 400 20px/120% var(--font-subtitle);

  --font-family: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/140% var(--font-family);
}

body {
  background-color: var(--gray-500);
  color: var(--gray-100);
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  span {
    color: var(--red);
    font: var(--subtitle);
  }

  h2 {
    font: var(--title-md);
    color: var(--gray-100);
  }
}
