#intro {
  display: flex;
  flex-direction: column;
  padding-top: 57px;
  padding-bottom: 57px;
  text-align: center;
  gap: 74px;

  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1040px;
  margin: 0 auto;
}

span {
  font: var(--subtitle);
  color: var(--gray-200);
}

#red {
  color: var(--red);
}

h1 {
  font: var(--title-lg);
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 680px;
  gap: 56px;
}

#header > img {
  height: 112px;
}

#title {
  margin-bottom: 20px;
}

#text p {
  color: var(--gray-300);
  font: var(--text-sm);
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--gray-400);
  padding: 8px 16px 8px 16px;
  border-radius: 999px;
}

#tags {
  display: flex;
  gap: 16px;
}

.tag p {
  font: var(--text-md);
  color: var(--gray-200);
}
